{
    "presets": ["module:@react-native/babel-preset"],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "@assets": "./src/assets",
                    "@components": "./src/components",
                    "@constants": "./src/constants",
                    "@hooks": "./src/hooks",
                    "@navigation": "./src/navigation",
                    "@screens": "./src/screens",
                    "@services": "./src/services",
                    "@colors": "./src/theme/colors"
                }
            }
        ]
    ],
    "env": {
        "production": {
            "plugins": ["transform-remove-console"]
        }
    }
}
